SHEET_NAME=AventuraTablas
ADMIN_LICENSE=admindasoto88
EMAIL_REMITENTE=pixelimpresorasap@gmail.com
EMAIL_PASSWORD=qwhx mxpe ozfo knsm
LINK_MERCADO_PAGO=https://mpago.la/1HSsTdv
DATOS_TRANSFERENCIA=Banco: BBVA | Cuenta: 4152314169570341 | Nombre: David Soto Beltran | Concepto: AventuraTablas + Nombre alumno
CREDS_FILE=credenciales.json
